<div class="col-12">
    <div class="page-header">
        <h1 class="page-title">
            Zone Servers
        </h1>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <thead>
                    <tr>
                        <th class="text-center w-1"><i class="icon-people"></i></th>
                        <th class="text-center w-1"><i class="icon-people"></i></th>

                        <th>CPU</th>
                        <th>Uptime</th>
                        <th>Memory</th>
                        <th>Zone</th>
                        <th>Short Name</th>
                        <th>Zone ID</th>
                        <th>Instance ID</th>
                        <th>Process ID</th>
                        <th>Port</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% zonelist.forEach(function(zone) { %>
                    <% /* if (zone.zone_long_name != "") { */ %>
                        <tr style="<%= zone.zone_long_name === '' ? 'color:rgba(0, 0, 0, 0.4);' : '' %>">
                            <td class="text-center">
                                <div class="avatar d-block" style="background-image: url(/assets/images/eqemu-avatar.png)">
                                    <span class="avatar-status bg-<%= zone.zone_long_name !== '' ? 'green' : 'red' %>"></span>
                                </div>
                            </td>



                            <td><i class="fe fe-users"></i> <%= zone.number_players %> </td>


                            <td>
                                <div class="mx-auto chart-circle chart-circle-xs" data-value="<%= parseFloat(process_stats[zone.zone_os_pid].cpu / 100).toFixed(2) %>" data-thickness="3" data-color="blue">
                                    <div class="chart-circle-value"><%= parseFloat(process_stats[zone.zone_os_pid].cpu).toFixed(2) %>%</div>
                                </div>
                            </td>
                            <td>
                                <%= parseFloat(process_stats[zone.zone_os_pid].elapsed / 1000 / 60 / 60).toFixed(2) %>h
                            </td>
                            <td><%= parseFloat(process_stats[zone.zone_os_pid].memory / 1024 / 1024).toFixed(2) %>MB </td>

                            <td>
                                <div> <%= zone.zone_long_name %> </div>
                                <div class="small text-muted">
                                    <%= zone.is_static_zone === true ? 'Static' : 'Dynamic' %>
                                </div>
                            </td>

                            <td><%= zone.zone_name %> </td>
                            <td><%= zone.zone_id %> </td>
                            <td><%= zone.instance_id %> </td>
                            <td><%= zone.zone_os_pid %> </td>
                            <td><%= zone.client_port %> </td>
                            <td class="text-right">
                                <a href="/zoneserver/<%= zone.client_port %>/netstats" class="btn btn-secondary btn-sm">
                                    <i class="fa fa-sitemap" style="font-size:10px; vertical-align:0px"></i> Netstats
                                </a>
                            </td>
                        </tr>
                    <% /* } */ %>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
  setTimeout(function() { window.location.reload(true); }, 1000 * 10);
</script>